extends layout

block content
  form(action="/schedules", method="post")
    div
      h5 予定名(255文字まで)
      input(type="text", name="scheduleName" placeholder="予定" maxlength="255" autocomplete="off")
    div
      h5 MEMO
      textarea(name="memo" maxlength="1000")
    div
      h5 候補日程 (改行して複数入力してください)
      textarea(name="candidates")
    button(type="submit") 予定を作る